.navi{
    background-color:darkblue;
    padding: 5px;
    display: flex;
    width: 100%;
}
.search{
    /* background-color: white; */
    width: 150px;
    justify-content: center;
    margin: auto;
    border: none;
}
.logo{
    background-color: white;
    border: none;
    width:300px;
    margin-left: 10px;
}
.img{
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
.text{
    color:white;
    margin-left: 5px;
}
.image{
    width: 35px;
    height: 30px;
}
.collect{
    margin-left: 10px;
}
.collect1{
    margin-left: 25px;
}
.brand{
    display: flex;
    margin-left: 40px;
}
.center{
    display: flex;
    
    margin-left: 60px;
}
.centercontent{
    margin-left:40px;
}
.body{
    background-color: rgb(196, 196, 196);
}
.size{
    height: 30px;
    width: 125px;
}
.body1{
   margin:5px;
}
.stories{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.flex{
    display: flex;
}